* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #FFFFFF;
    --light: #E5F3FE;
    --medium: #0F99F4;
    --twilight: #065CE3;
    --dark: #0322C8;
    --black: #000000;
}

body {
    background-color: var(--light);
}

#mainHeader {
    padding: 20px 20px 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark);
    color: var(--white);
}

#Name {
    display: inline-block;
    background-color: var(--medium);
    padding: 10px
}

#Name h1 { 
    font-size: 32px;
}

#navigationLinks {
    padding-top: 15px;
    margin-right: 20px;
    float:right; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;    
}

#navigationLinks ul {
    list-style-type: none;
    display: flex;
    margin-left: 300px;
}

#navigationLinks ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration:underline
}

a {
    color: var(--white);
    text-decoration: none;
}
/*Do I even need this: position relative is important but it's in both the partent and the grandparent*/
.heroHeader {
   position: relative; 
}

.profileBannerImg {
    background-image:url('../images/banner-img-profile-pic.jpg');
    background-position: center;
    background-size:cover;
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.profileBannerImgAltDescription {
    display: none;
}

.textOverImg {
    position: absolute;
    top: 44%;
    bottom: 50%;
    left: 75%;
    background-color: var(--dark);
    padding: 11px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color:#FFFFFF;
}

.selfIntroduction {
    display: flex;
    width: 95%;
    margin: 30px;
    background-color: var(--white);
}

.selfIntroCategoryHeader {
    width: 20%;  
}

#about-me {
    color: var(--twilight);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 100px;
}

#about-me h2 { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--twilight); 
}

.introBlurb {
    border-left: 5px solid var(--twilight);
    padding: 10px 30px;
    width: 80%;
    font-family: 'Trebuchet MS', Calibri, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--white);
    color: var(--twilight);
    margin: 20px;
}

.projectsShowcase {
    display: flex;
    width: 95%;
    margin: 30px;
    min-height: 800px;
    background-color: var(--white);
    position: relative;    
} 

.projectsShowcaseCategoryHeader {
    width: 20%;    
}

#my-work {
    color: var(--twilight);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 100px;
    min-height: 800px;
    width: 20%;
    
    /*
    flex-basis: 400px;
    min-height: 800px;
    justify-self: flex-start; 
    */ 
}

#my-work h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--twilight);
}

.cardContainer {
    border-left: 5px solid var(--twilight);
    padding: 10px 30px;
    width: 80%;
    font-family: 'Trebuchet MS', Calibri, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--white);
    color: var(--twilight);
    margin: 20px;
}
    
    /*
    flex-basis: 800px;
    max-height: 100%;
    */

.featureImageCard {
    width: 800px;
    height: 500px;
    justify-content: flex-end;
}

    /* flex-basis: 800px;
    min-height: 400px;  */

.bottomLeft {
    width: 380px;
    height: 300px;
    display: inline;
}

 /* flex-basis: 400px;
    min-height: 400px; */

.bottomRight {
    width: 380px;
    height: 300px;
    display: inline;
}

.labelContainer {
    flex-basis: 150px;
    min-height: 75px;
    
}

.largerFont {
    font-size: 14px;
    color: var(--twilight);
}

.smallerFont {
    font-size: 11px;
    color: var(--twilight);
}

.contactMe {
    display: flex;
    width: 95%;
    margin: 30px;
    background-color: var(--white);
}

.contactMeCategoryHeader {
    width: 20%;
}

#contact-me {
    color: var(--twilight);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 100px;
    width: 20%;
}

#contact-me h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--twilight);
}

.contactLinks {
    border-left: 5px solid var(--twilight);
    /*padding: 10px 30px;*/
    padding-top: 15px;
    width: 80%;
    font-family: 'Trebuchet MS', Calibri, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--white);
    color: var(--twilight);
    /*margin: 20px;*/
    margin-right: 20px;
    float: right;
}

.contactLinks ul {
    list-style-type: none;
    display: flex;
    margin-left: 300px;
}

.contactLinks ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration:underline;
}

a {
    color: var(--white);
    text-decoration: none;
}


/*
}
.categoryHeader {
    width: 50%;
    padding: 10px 30px;
}

.myWork {
    width: 50%;
    padding: 10px 30px;
    color: var( --twilight);
}

.myWork h2 {
    padding: 10px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-right: 25px;
    flex-wrap: wrap;
}

.featureCard {
    border-left: 5px solid var(--twilight);
    padding: 10px 30px;
    width 75%;
    line-height: 1.2;
}

.featureCard h2 {

}

a {
    flex-basis: 
} 

#benefitsSidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Rationalized the style rules as they apply to services and benefits classes to prevent code being written in triplicate */
/*.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.services img {
    max-height: 200px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
*/
/*
#footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#footer h2 {
    font-size: 20px;
}

width 75%;
    display: inline-block;
    margin-left: 20px;
    */