* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #FFFFFF;
    --light: #E5F3FE;
    --medium: #0F99F4;
    --twilight: #065CE3;
    --dark: #0322C8;
    --black: #000000;
}

body {
    background-color: var(--light);
}

#mainHeader {
    padding: 20px 20px 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark);
    color: var(--white);
}

#Name {
    display: inline-block;
    background-color: var(--medium);
    padding: 10px
}

#Name h1 { 
    font-size: 32px;
}

#navigationLinks {
    padding-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    float:right; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;    
}

#navigationLinks ul {
    list-style-type: none;
    display: flex;
    margin-left: 300px;
}

#navigationLinks ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration:underline
}

a {
    color: var(--white);
    text-decoration: none;
}
/*Do I even need this: position relative is important but it's in both the partent and the grandparent*/
.heroHeader {
   position: relative; 
}

.profileBannerImg {
    background-image:url('../images/banner-img-profile-pic.jpg');
    background-position: center;
    background-size:cover;
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.profileBannerImgAltDescription {
    display: none;
}

.textOverImg {
    position: absolute;
    top: 66%;
    bottom: 33%;
    left: 75%;
    height: 40px;
    background-color: var(--dark);
    padding: 11px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color:#FFFFFF;
}

.selfIntroduction {
    display: flex;
    width: 95%;
    margin: 30px;
    background-color: var(--white);
}

.selfIntroCategoryHeader {
    width: 20%;  
}

#about-me {
    color: var(--twilight);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 25%;
    text-align: center;
}

#about-me h2 { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--twilight); 
}

.introBlurb {
    padding: 10px 30px;
    border-left: 5px solid var(--twilight);
    width: 90%;
    font-family: 'Trebuchet MS', Calibri, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--white);
    color: var(--twilight);
    margin: 20px;
}


.projectsShowcase { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    width: 95%;
    height: 860px;
    background-color: var(--white);
    margin-left: 30px;
    padding-bottom: 20px;
  }
  
.projectsShowcaseCategoryHeader {
    width: 20%;
    color: var(--twilight);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
  }

.shopWindow {
    border-left: 5px solid var(--twilight);
    width: 90%;
    height: 800px;
    text-align: center;

  }

#my-work {
    margin-top: 40px;
    margin-left: 25%;
    height: 850px;
    color: var(--twilight);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /*
    flex-basis: 400px;
    min-height: 800px;
    justify-self: flex-start; 
    */ 
}

#my-work h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--twilight);
}

.shopWindowTopRow {
    width: 800px;
    height: 500px;
}

.featureCard {
    width: 800px;
    text-align: center;
    position: relative; 
}

.featureCard header {
    margin: 30px 0px 0px 25px;
    padding: 10px;
    width: 180px;
    background-color: var(--twilight);
    color: var(--white);
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
}

.featureCard header p .mainLabel {
    font-size: 14px;
}

.featureCard header p .secondaryLabel {
    font-size: 11px;   
}
  
.featureCard img {
    width: 750px;
    height: 465px;
  }

.shopWindowBottomRow {
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.bottomLeft {
    width: 400px;
    text-align: center;
    flex-wrap:wrap;
    position: relative;
}

.bottomLeft header {
    margin-top: 15px;
    margin-left: 23px;
    padding: 10px;
    width: 160px;
    background-color: var(--twilight);
    color: var(--white);
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;    
}

.bottomLeft header p .mainLabel {
    font-size: 14px;
}

.bottomLeft header p .secondaryLabel {
    font-size: 11px;   
}

.bottomLeft img {
    width: 354px;
    height: 300px;
    margin: 0px 10px 0px 10px;
}

.bottomRight {
    width: 50%;
    text-align: center;
    position: relative;
}

.bottomRight header {
    margin: 15px 0px 0px 5px;
    padding: 10px;
    width: 160px;
    background-color: var(--twilight);
    color: var(--white);
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
}

.bottomRight header p .mainLabel {
    font-size: 14px;
}

.bottomRight header p .secondaryLabel {
    font-size: 11px;   
}

.bottomRight img {
    width: 370px;
    height: 300px;
    margin: 0px 25px 0px 5px;
}


.contactMe {
    display: flex;
    padding: 20px;
    width: 95%;
    margin: 30px;
    background-color: var(--white);
}

.contactMeCategoryHeader {
    width: 20%;
}

#contact-me {
    color: var(--twilight);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 20%;
}

#contact-me h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--twilight);
}

.contactLinks {
    border-left: 5px solid var(--twilight);
    /*padding: 10px 30px;*/
    padding-top: 15px;
    width: 80%;
    font-family: 'Trebuchet MS', Calibri, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--white);
    color: var(--twilight);
    /*margin: 20px;*/
    margin-left: 40px;
    float: right;
}

.contactLinks ul {
    list-style-type: none;
    display: flex;
    margin-left: 300px;
}

.contactLinks ul li {
    display: inline-block;
    margin-left: 30%;
    text-decoration:underline;
    color: var(--dark);
    font-size: 16px;
}

a {
    color: var(--white);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .projectsShowcase {
        width: 100%;
    }
    }


